@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    
    background: #f8f5f1;
}

::-webkit-scrollbar-thumb {
    background: #22211c;
    border-radius: 4px;
    height: 30px;
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #121212;
}

img {
    max-width: 100%;
    height: auto;
}

h1 , h2 {
    padding: 0;
}

p {
    line-height: 140%;
    color: #3b3a3a;
}

button {
    all: unset;
    cursor: pointer;
}
/* SUPER CLASSES  */
.container {
    max-width: 987px;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    display: grid;
}

.section {
    padding: 4rem 0 2rem;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f3f2f286;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 10;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.nav_toggler {
    display: none;
}

.nav_lista {
    display: inline-flex;
    gap: 3rem;
}

.nav_icones {
    display: inline-flex;
    column-gap: 1rem;
}
/* HOME CONTAINER */
.home {
    position: relative;
    height: 100vh;
    box-shadow: -2px 0 4px #f3f2f286;
    background-color: #f3f2f2;
}
.home_container {
    display: flex;
    column-gap: 6rem;
}

.home_texto {
    padding-top: 7rem;
}

.home_titulo {
    font-size: 4rem;
    font-weight: 600;
    color: #121212;
    margin-bottom: 1rem;
}

.home_titulo span {
    color: #ff791f;
}

.home_descricao {
    display: inline-flex;
    gap: 1rem;
    align-items:  flex-end;

}

.home_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #292929;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novidade_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #292929;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
.home_img {
    width: 270px;
    position: absolute;
    right: 26%;
    bottom: 0;
}






/* COLEÇÃO CONTAINER */
.colecao_container  {
    position: relative;
}
.colecao_texto {
    margin-left: 6rem;
    z-index: 1;
    padding-top: 4rem;
}
.colecao_titulo {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.colecao_titulo span {
    color: #ff791f;
}

.colecao_descricao {
    margin-bottom: 2rem;
}

.colecao_link {
    color: #ff791f;
    text-decoration: underline;
    
}

.colecao_img {
    width: 200px;
    position: absolute;
    right: 2rem;
    bottom: 0;
    transform: rotate(10deg);
}

.colecao_img2 {
    width: 160px;
    position: absolute;
    transform: rotate(-10deg);
}

/* NOVIDADES */
.novidade_section {
    /* background: #f3f2f2; */
    margin-top:  4rem;
}

.novidades_container {
    grid-template-columns: repeat(2 , 1fr);
}

.novidades_card {
    display: inline-flex;
    column-gap: 2rem;
}

.novidades_subtitulo {
    font-size: 1rem;
    color: #ff791f;
    margin-bottom: 0.5rem;
}

.novidades_titulo {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.novidade_descricao {
    margin-bottom: 2rem;
}

.card {
    position: relative;
}

.card_titulo {
   padding-top: 1rem;
}

#card {
    background: none;
    border: 1px solid #121212;
    color: #121212;
    background-color: #fff2e086;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
}

#arrow {
    color: #3b3a3a;
}

.card1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.card2 {
    position: absolute;
    bottom: 4rem;
    right: 1rem;
}

/* PRODUTOS */ 
.produtos_container {
    grid-template-columns: repeat(3 , 2fr);
    column-gap: 2rem;
    padding-top: 1rem;
}
.produtos_card_item {
    position: relative;
}

.produto_btn {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
}
.produtos_descricao {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.produtos_descricao span {
    font-size: 1.2rem;
    color: #ff791f;
}


.produto_nome {
    margin-top: 1rem;
}

/* NOVA COLECAO */
.angry-grid {
    position: relative;
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100%;
 }
   
 #item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
 }
 #item-1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3; 
    width: 100%;
    height: 100%;
 }
 #item-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    
 }




 /* MEDIA QUERY */
 /*=============== BREAKPOINTS ===============*/
/* PARA DISPOSITIVOS PEQUENOS */
@media screen and (max-width: 320px){
 

  
  }
  
  /* DESPOSITIVOS MEDIOS */
  @media screen and (min-width: 576px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav_menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 30%;
        background-color: #fffffff1;
    }

    .nav_lista {
        flex-direction: column;
        padding-top: 4rem;
        margin-left: 2rem;
        gap: 2rem;
    }

    .nav_link {
        font-size: 1.2rem;
    }
    .colecao_titulo {
        font-size: 2rem;
    }
    
    .colecao_img {
        width: 140px;
        right: 7rem;
    }

    .colecao_img2 {
        width: 120px;
        left: 3rem;
    }

    .novidades_texto {
        text-align: center;
    }
    .novidade_descricao {
        margin-bottom: 1rem;
    }
    
    .novidades_card {
        padding-top: 3rem;
    }

    .novidades_container {
        grid-template-columns: repeat(1 , 1fr);
    }

    .novidades_btn {
        margin: 0 auto;
    }

    .produtos_container  {
        grid-template-columns: repeat(2 , 1fr);
        row-gap: 2rem;
    }

    .card2 {
        bottom: 5rem;
    } 
  
  }
  
  @media screen and (min-width: 767px){
   
 
  }
  
  /* DESPOSITIVOS GRANDES */
  @media screen and (min-width: 992px){
 
  }
  
  @media screen and (min-width: 1200px){

  }