@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    
    background: #f8f5f1;
}

::-webkit-scrollbar-thumb {
    background: #22211c;
    border-radius: 4px;
    height: 30px;
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #121212;
}

img {
    max-width: 100%;
    height: auto;
}

h1 , h2 {
    padding: 0;
}

p {
    line-height: 140%;
    color: #3b3a3a;
}

button {
    all: unset;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* SCROLLUP */
.scrollUp {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10;
    background: #242322;
    width: 40px;
    height: 40px;
    display: none;
   
   
}

.scroll {
    color: #fff;
    font-size: 1.5rem;  
}

.show-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
/* SUPER CLASSES  */
.container {
    max-width: 987px;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    display: grid;
}

.section {
    padding: 4rem 0 2rem;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* background-color: #f3f2f286;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    z-index: 10;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.nav_toggler {
    cursor: pointer;
}

.nav_icon {
    font-size: 1.2rem;
    cursor:  pointer;
}

.nav_lista {
    display: inline-flex;
    gap: 3rem;
}

.nav_icones {
    display: inline-flex;
    column-gap: 1rem;
}


.show {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.mudar-cor {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: #f8f5f1;

}
/* HOME CONTAINER */
.home {
    position: relative;
    height: 100vh;
    background-color: #f3f2f2;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

}


.home_titulo {
    padding-top: 8rem;
    font-size: 4rem;
    font-weight: 600;
    color: #121212;
    margin-bottom: 1rem;
}

.home_titulo span {
    color: #ff791f;
}

.home_descricao {
   margin-bottom: 3rem;
}

.home_card {
    position: absolute;
    bottom: 5rem;
    right: 14rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 85px;
    background-color: #b3b3b370;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.home_card-icone {
    background: #ff791f;
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f3f2f2;
    font-size: 1.2rem;
}

.home_card-span {
    font-size: 1.4rem;
    padding-left: 2.1rem;
    color: #f3f2f2;
}

.home_card-paragrafo {
    font-size: .876rem;
    color: #ffecdf;
}
.home_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #292929;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novidade_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #292929;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}


.home_img {
    width: 320px;
    position: absolute;
    right: 20%;
    bottom: 0;

}

/* COLEÇÃO CONTAINER */
.colecao_container  {
    position: relative;
}
.colecao_texto {
    margin-left: 6rem;
    z-index: 1;
    padding-top: 4rem;
}
.colecao_titulo {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.colecao_titulo span {
    color: #ff791f;
}

.colecao_descricao {
    margin-bottom: 2rem;
}

.colecao_link {
    color: #ff791f;
    text-decoration: underline;
    
}

.colecao_img {
    width: 200px;
    position: absolute;
    right: 2rem;
    bottom: 0;
    transform: rotate(10deg);
}

.colecao_img2 {
    width: 160px;
    position: absolute;
    transform: rotate(-10deg);
}

/* NOVIDADES */
.novidade_section {
    /* background: #f3f2f2; */
    margin-top:  4rem;
}

.novidades_container {
    grid-template-columns: repeat(2 , 1fr);
}

.novidades_card {
    display: inline-flex;
    column-gap: 2rem;
}

.novidades_subtitulo {
    font-size: 1rem;
    color: #ff791f;
    margin-bottom: 0.5rem;
}

.novidades_titulo {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.novidade_descricao {
    margin-bottom: 2rem;
}

.card {
    position: relative;
}

.card_titulo {
   padding-top: 1rem;
}

#card {
    background: none;
    border: 1px solid #121212;
    color: #121212;
    background-color: #fff2e086;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
}

#arrow {
    color: #3b3a3a;
}

.card1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.card2 {
    position: absolute;
    bottom: 4rem;
    right: 1rem;
}

/* PRODUTOS */ 
.produtos_container {
    grid-template-columns: repeat(3 , 2fr);
    column-gap: 2rem;
    padding-top: 1rem;
}
.produtos_card_item {
    position: relative;
}

.produto_btn {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
}
.produtos_descricao {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.produtos_descricao span {
    font-size: 1.2rem;
    color: #ff791f;
}


.produto_nome {
    margin-top: 1rem;
}

/* NOVA COLECAO */
.nova_section {
    padding-top: 4rem;
}
.angry-grid {
    padding-top: 2rem;
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100%;
 }

 .nova_card {
    position: relative;
 }

 .nova_titulo {
    padding: 1rem;
    font-size: 2rem;
 }

 .nova_titulo1 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
 }

 .nova_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #292929;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#button1 {
    bottom: 1rem;
    right: 2rem;
}

#button2 {
    right: 2rem;
    top: 1rem;
}
 #item-0 {
    height: 440px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    background-image: url(../img/nova1.webp);
    background-size: cover;
 }
 #item-1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3; 
    background-color: red;
    background-image: url(../img/nova2.webp);
    background-position: center;
    background-size: cover;
 }
 #item-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    background-color: red;
    background-image: url(../img/nova3.webp);
    background-position: center;
    background-size: cover;
    
 }


/* PESSOAS */

 /* MEDIA QUERY */
 /*=============== BREAKPOINTS ===============*/
/* PARA DISPOSITIVOS PEQUENOS */
@media screen and (max-width: 320px){
    

  
  }
  
  /* DESPOSITIVOS MEDIOS */
  @media screen and (max-width: 576px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nav_icones {
        display: none;
    }
    .nav_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 60%;
        height: 100vh;
        transition: .4s;
        background: #f3f2f2e0;
    }

    .nav_lista {
        padding: 3rem;
        flex-direction: column;
        row-gap: 1rem;
    }
    .nav_toggler {
        display: block;
    }
    
    .home_texto {
        padding-top: 9rem;
        text-align: center;
        z-index: 1;
    }

    .home_descricao {
        display: none;
    }
    .colecao_titulo {
        font-size: 2rem;
    }
    .colecao_img {
        width: 140px;
        right: 7rem;
    }

    .colecao_img2 {
        width: 120px;
        left: 3rem;
    }

    .novidades_texto {
        text-align: center;
    }
    .novidade_descricao {
        margin-bottom: 1rem;
    }
    
    .novidades_card {
        padding-top: 3rem;
    }

    .novidades_container {
        grid-template-columns: repeat(1 , 1fr);
    }

    .novidades_btn {
        margin: 0 auto;
    }

    .produtos_container  {
        grid-template-columns: repeat(2 , 1fr);
        row-gap: 2rem;
    }

    .card2 {
        bottom: 5rem;
    } 
    
    .colecao_titulo {
        font-size: 1.6rem;
    }

    .colecao_descricao {
        font-size: .987rem;
    }

    .colecao_img {
        bottom: -4rem;
        right: 1rem;
    }
  }
  
  @media screen and (min-width: 767px){
   
 
  }
  
  /* DESPOSITIVOS GRANDES */
  @media screen and (min-width: 992px){
 
  }
  
  @media screen and (min-width: 1200px){

  }